body{
    color:azure;
    background-color: rgb(36, 36, 48);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    place-items: center;
    margin : 0;
}

h1{
    border-bottom: 2px solid rgb(79, 128, 235);
    width: 100%;
    height: 65px;
    margin-top: 20px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.connexion{
    position: absolute;
    top: 20px;
    right: 145px;
    font-size: 20px;
    /* color: rgb(30, 191, 255); */
    background-color: rgb(79, 128, 235);
    border: 2px solid rgb(79, 128, 235);
    color : azure;
    text-decoration: none;
    /* border: 4px solid rgb(30, 191, 255); */
    padding : 5px 12px;
    text-shadow: 0px 0px 4px black; 
    border-radius: 2px ;
    box-shadow:  0px 0px 6px 0 black;
}

.neon{
    transition: 0.5s;
    font-size: 20px;
    /* color: rgb(30, 191, 255); */
    background-color: rgb(79, 128, 235);
    border: 2px solid rgb(79, 128, 235);
    color : azure;
    text-decoration: none;
    /* border: 4px solid rgb(30, 191, 255); */
    padding : 5px 12px;
    text-shadow: 0px 0px 4px black; 
    border-radius: 2px ;
    box-shadow:  0px 0px 6px 0 black;
}

.neon:hover {
    /* background-color: rgb(30, 191, 255); */
    background-color: rgb(57, 99, 190);
    border: 2px solid rgb(57, 99, 190);
    color : azure;
    transition: 0.5s;
}

img{
    width:100%;
    max-width:100px;
}

.inscription{
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 20px;
    /* color: rgb(30, 191, 255); */
    background-color: rgb(79, 128, 235);
    border: 2px solid rgb(79, 128, 235);
    color : azure;
    text-decoration: none;
    /* border: 4px solid rgb(30, 191, 255); */
    padding : 5px 12px;
    text-shadow: 0px 0px 4px black; 
    border-radius: 2px ;
    box-shadow:  0px 0px 6px 0 black;
}



@font-face {
    font-family: 'SF Mono Light';
    font-style: normal;
    font-weight: normal;
    src: local('SF Mono Light'), url('SFMonoLight.woff') format('woff');
    }

@font-face {
    font-family: IBM Plex Mono;
    src: url(IBMPlexMono-ExtraLight.ttf) format("truetype");
}